MicroMvvmSample/bin
MicroMvvmSample/obj
MicroMvvmSample/bin/*
MicroMvvmSample/obj/*
MicroMvvmToolkit/bin
MicroMvvmToolkit/obj
MicroMvvmToolkit/bin/*
MicroMvvmToolkit/obj/*
MicroMvvmToolkit.Tests/bin
MicroMvvmToolkit.Tests/obj
MicroMvvmToolkit.Tests/bin/*
MicroMvvmToolkit.Tests/obj/*
*.testrunconfig
*.Cache
*.vsmdi
*.suo
TestResults
TestResults/*
config/database.yml
db/*.db
log/*.log
pkg
tmp/*
.DS_Store
.svn
TAGS
public/tmp
spec/datasets/tmp
*.tmproj
cache