DesignerMvvmToolkit.Wpf.Sample/bin
DesignerMvvmToolkit.Wpf.Sample/obj
DesignerMvvmToolkit.Wpf.Sample/bin/*
DesignerMvvmToolkit.Wpf.Sample/obj/*
DesignerMvvmToolkit.Wpf/bin
DesignerMvvmToolkit.Wpf/obj
DesignerMvvmToolkit.Wpf/bin/*
DesignerMvvmToolkit.Wpf/obj/*
DesignerMvvmToolkit.Wpf.Tests/bin
DesignerMvvmToolkit.Wpf.Tests/obj
DesignerMvvmToolkit.Wpf.Tests/bin/*
DesignerMvvmToolkit.Wpf.Tests/obj/*
*.testrunconfig
*.Cache
*.vsmdi
*.suo
TestResults
TestResults/*
config/database.yml
db/*.db
log/*.log
pkg
tmp/*
.DS_Store
.svn
TAGS
public/tmp
spec/datasets/tmp
*.tmproj
cache